# remove custom registry to publish to https://www.npmjs.com/package/@ygally/patch-package
# -> publishing via `yarn publish --access public`
# -> publishing via `npm publish --access public`
# (cf. https://docs.npmjs.com/creating-and-publishing-scoped-public-packages)
@ygally:registry=https://npm.pkg.github.com
